{{!-- Set the page title --}}
{{!-- Example: res.render('dashboard', { title: 'Dashboard', ... }) --}}

<h2>Your Dashboard</h2>
<button id="new-post">Create New Post</button>

{{#if posts.length}}
  <section class="user-posts">
    {{#each posts}}
      <div class="post-item">
        <h3>{{this.title}}</h3>
        <p>Created on {{format_date this.createdAt}}</p>
        <a href="/post/{{this.id}}/edit">Edit</a>
        <button class="delete-post" data-id="{{this.id}}">Delete</button>
      </div>
    {{/each}}
  </section>
{{else}}
  <p>You haven't created any posts yet. <a href="/dashboard">Create one now!</a></p>
{{/if}}
